<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="leads@fitzmall.com">
        <network host="secure.emailsrvr.com" port="587" enableSsl="true" defaultCredentials="false" userName="leads@fitzgeraldautomall.com" password="Harold66@" />
      </smtp>
      <!--<smtp deliveryMethod="Network" from="leads@fitzmall.com">
        <network host="smtp.emailsrvr.com" port="587" enableSsl="true" defaultCredentials="false" userName="leads@fitzgeraldautomall.com" password="Harold66@" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="JJFServer" connectionString="data source=10.254.162.196;Initial Catalog=VinSolution;User Id=users;Password=users;" providerName="System.Data.SqlClient" />
    <add name="Fitzway" connectionString="data source=192.168.100.16;Initial Catalog=Fitzway;User Id=users;Password=USERS;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="imapHost" value="secure.emailsrvr.com" />
    <add key="imapPort" value="993" />
    <add key="imapUser" value="leads@fitzgeraldautomall.com" />
    <add key="imapPass" value="Harold66@" />
    <add key="ssl" value="true" />
    <add key="ignoreEmails" value="everyone@fitzmall.com,everyone@fitzgeraldautomall.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="JsonTrafficSources" value="trafficsources.json" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>